<section class="dialog-header">

  <h4 mat-dialog-title> {{data.message}}</h4>

  <button id="close-button" (click)="onNoClick()" mat-mini-fab>
    <img [src]="assetUrl+'/assets/svgs/icn_close_circle.svg'" alt="" srcset="">
  </button>
</section>
<div mat-dialog-content>
  
  <section>

    <form [formGroup]="commentFormGroup">
      <p>Kindly read and agree to the terms and conditions before submitting your information for review.</p>

      <mat-checkbox [(ngModel)]="terms" (change)="switchTerms($event)" [checked]="terms" name="terms" style="margin-right: 100px;">I have read the 
        <a class="submit-link" target="_blank" routerLink='/terms'>Terms
        and Conditions</a>
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="declaration"  (change)="switchDeclaration($event)"  [checked]="declaration" name="declaration">
      I agree to the <a class="submit-link" target="_blank" routerLink='/terms/declaration'>Declaration</a>
    </mat-checkbox>

    <div class="footer-buttons" >
      <button mat-button (click)="onNoClick()">CANCEL</button>
      <button *ngIf="terms && declaration" mat-button (click)="submit()" cdkFocusInitial>CONFIRM</button>
    </div>
    </form>
  </section>
  

</div>
